@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


/* Глобальные стили для Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background: transparent; /* Прозрачный фон */
}

.swiper-slide img {
  display: block;
  width: auto;
  height: auto;
  object-fit: contain; /* Изображения не обрезаются */
}

/* Стили для основной карусели */
.main-swiper {
  max-height: 80vh;
}

/* Стили для модального окна */
.modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

/* Размытие заднего фона */
.backdrop-blur-sm {
  backdrop-filter: blur(8px); /* Эффект размытия */
}

.p_size {
  font-size: 1.3rem;
}
/* Скрытие кнопок на маленьких экранах */
@media (max-width: 640px) {

  h1 {
    font-size: 1.3rem; /* Уменьшаем заголовок на маленьких экранах */
  }

  .swiper-slide {
    padding: 10px; /* Добавляем отступы для слайдов */
  }

}
.description-overlay_mobile {
  opacity: 1 !important; /* Всегда видимый */
}


/* Адаптивные стили для средних экранов */
@media (min-width: 641px) and (max-width: 1024px) {
  h1 {
    font-size: 1.4rem; /* Средний размер заголовка */
  }

  .swiper-slide {
    padding: 15px; /* Отступы для средних экранов */
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 1.5rem; /* Большой размер заголовка */
  }

  .swiper-slide {
    padding: 20px; /* Большие отступы для больших экранов */
  }
}

/* Общие стили для страницы */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
  font-family: Clarkson, Helvetica, sans-serif;
}

/* Анимация для изображений */
img {
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05); /* Небольшое увеличение при наведении */
}


/* Основные стили для оверлея */
.description-overlay {
  opacity: 0; /* По умолчанию скрыт */
  transition: opacity 0.3s ease-in-out;
}

/* Показывать оверлей при наведении на десктопах */
.group:hover .description-overlay {
  opacity: 1;
}



.white-text-with-shadow {
  text-shadow:
    0 0 6px black,
    0 0 1em rgb(70, 70, 70),
    0 0 0.2em rgb(59, 59, 59);
  color: white;
}


